# ---------------------------- compiler
compiler/cmake-build-debug
compiler/.idea
compiler/lfw_funneled
compiler/.conda
compiler/__pycache__
compiler/*.csv
compiler/*.tsv
compiler/*.tar
compiler/*.log
compiler/*.gz
compiler/*.zip
compiler/*.tar.gz
compiler/*.rar
compiler/*.7z
.vscode

# --------------------------- frontend
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

frontend/.env

# --------------------------- lambda
lambda/.serverless
