compiler/cmake-build-debug
compiler/.idea
compiler/lfw_funneled
compiler/.conda
compiler/__pycache__
compiler/*.csv
compiler/*.tsv
compiler/*.tar
compiler/*.log
compiler/*.gz
compiler/*.zip
compiler/*.tar.gz
compiler/*.rar
compiler/*.7z
.vscode